@import url('https://fonts.googleapis.com/css?family=Cairo');

#pagina{
    display: flex;
    flex-direction: column;
    background-image: url(images/fundo.jpg);
    width: 900px;
    background-size: cover;
    margin: 0 auto;
   
  }
  #headerp{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height: 150px;
    
  }
  #headerp h1 {
    
        font-family: "Cairo";
        text-align: right ;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
        height: 70vh;
        letter-spacing: 1px;
        line-height:2
      }
      
      #headerp h1 {
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 30px;
        margin: 5px 0;
      }
      /* styling my button */
      
      .white-mode {
        text-decoration: none;
        padding: 7px 10px;
        background-color: #122;
        border-radius: 3px;
        color: #FFF;
        transition: .35s ease-in-out;
        position: absolute;
        left: 15px;
        bottom: 5px;
        font-family: "Montserrat";
      }
      
      .white-mode:hover {
        background-color: #FFF;
        color: #122;
      }

  
  #nav1{
padding-top: 10px;

  }
  #mainp{
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width: 900px;
    height:1140px;
  }
  #sectionp{
    display: flex;
    flex-direction: column;
    width:700px;
    height: 97%;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 2px;
  }
  #article1{
    margin-top: 15px;
    margin-left: 2px;
    display:flex;
    flex-direction: column;
    width:99%;
    height: 280px;
    padding: 2px;
    background-color: white;
    
  }
  #article1 h2{
    display: flex;
  justify-content: center;
    font-family: cairo;

  }
  #p1{
    font-family: cairo;
    text-align: justify;
    word-spacing: normal;
    text-indent: 20px;
    line-height: 1;
  }
  #p2{
    font-family: cairo;
    text-align: justify;
    word-spacing: normal;
    text-indent: 20px;
    line-height: 1;
  }
  #img1{
    width: 100%;
    height: 120%;
    
  }
  #img2{
    width: 100%;
    height: 120%;
    
  }

  #article2{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 2px;
    width:99%;
    height: 259px;
    background-color: white;
    
  }
  #aside1{
    text-align: center;
    flex-direction: column;
    margin-left: 2px;
    width:100%;
    height: 100%;
    display:  flex;

  }
  #texto{
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    background-color: white;
    font-family: cairo;
    text-align: justify;
    word-spacing: normal;
    text-indent: 20px;
    line-height: 1;
  }
  #aside2{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 2px;
    width:195px;
    height: 97%;
    background-color: white;
    color: black;
    font-family: Cairo;
    text-align: center;
  }
  #foter{
   display: flex; 
   flex-direction: row;
  justify-content: space-evenly;
   margin-bottom: 5px;
   font-family: cairo;
   color: white;
   width: auto;
    height: 150px;
    background-color: #000000;
  }
  #footer1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 250px;
  margin-left: 5px;
  font-family: cairo;
  line-height: 1.5;

  }
  #footer5{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 250px;
    margin-left: 5px;
    font-family: cairo;
    line-height: 1.5;
    
    }
#lin{
  color: white;
}
     
   #lin:hover {
    color: rgb(6, 136, 175);
   }
  #footer2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    
    height: 100%;
    width: 250px;
    margin-left: 5px;
     }
      #mapa{
      height: 130px;
      width: 130px;
      border-radius: 50%;
      }
  a {text-decoration: none;}
  
  .container {
    margin: auto;
    width: 900px;
    
  }
  
  ul {
    padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
    list-style: none;
  }
  
  nav {
    background: #141414;
    font-size: 0;
    position: relative;
    font-family: "cairo";
      
  }
  
  nav > ul > li {
    display: inline-block;
      font-size: 14px;
      padding: 0 15px;
      position: relative;
  }
  
  nav > ul > li > a {
    color: #fff;
      display: block;
      padding: 10px 0;
      border-bottom: 3px solid transparent;
      transition: all .3s ease;
  }
  nav > ul > li:hover > a {
    color: rgb(6, 136, 175); 
      border-bottom: 3px solid #ededed;
  }
  
  .mega-menu {
    background: #eee;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      position: absolute;
      left: 0;
      width: 100%;
      padding-bottom: 1px;
  }
  .mega-menu h3 {color: #444;}
  
  .mega-menu .container {
      display: flex;
  }
  .mega-menu .item {
    flex-grow: 1;
      margin: 0 10px;
  }
  .mega-menu .item img {
      width: 100%;
  }
  .mega-menu a {
    border-bottom: 1px solid #ddd;
      color: #4ea3d8;
      display: block;
      padding: 10px 0;
  }
  .mega-menu a:hover {color: #2d6a91;}
  
  
  .dropdown {position: static;}
  
  .dropdown:hover .mega-menu {
      visibility: visible;
      opacity: 1;
  }
  .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  height: 500px;
  margin-bottom: 5px;
  }
 
  .tela{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background-color: white;
    border-style: groove;
    font-family: arial;
    
  }
  .superior{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
    background-color: white;
  }
  #logintexto{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 30%;
margin-top: 15px;
margin-bottom: 20px;
  }
  #suasenha{
    font-family: cairo;
  }
  #seulogin{
    font-family: cairo;
  }
  input[type=text]{
    display: block;
    height: 18px;
    border: none;
    background-color: #dfd5d5;
    outline: 0;
    cursor: pointer;
    width: 330px;
    margin: 0 auto;
    text-align: center;
    font-family: cairo;
  }
 
  input[type=password]{
    display: block;
    height: 18px;
    border: none;
    background-color: #dfd5d5;
    outline: 0;
    cursor: pointer;
    width: 330px;
    margin: 0 auto;
    text-align: center;
    font-family: cairo;
  }
 
  #check{
    font-size: 12px;
    font-family: cairo;
  }
input[type=submit]{
    display: block;
    background-color: rgb(8, 158, 228);
    height: 26px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 330px;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
    font-family: cairo;
   
}
.inferior{
display: flex;
justify-content: flex-end;
align-items: center;
margin-top: 10px;
background-color: rgb(227, 237, 241);
width: auto;
height: 50px;
margin-bottom: 1px;
}
#cadastre{
  font-family: cairo;
  margin-right: 3px;
  }
#ns{
  font-family: cairo;
  margin-right: 3px;
}
#lin2{
  font-size: 12px;
  border: 0.5px;
  border-style: solid;
  background-color: #ddd;
  color: black;
  border-color: rgb(85, 95, 100);
  margin-left: 1px;
  margin-right: 1px;
}

 #lin2:hover {
  color: rgb(255, 255, 255);
 }
